$mainTaboolaBlue: #4472c4;

.main {
  & .floatingBtn {
    &.floatingBtnEdit {
      background:rgba(68, 114, 196, 0.35);
      & > * {
        fill: $mainTaboolaBlue;
      }
    }

    position: fixed;
    background: $mainTaboolaBlue;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }

  & .bar {
    background: $mainTaboolaBlue;
    height: 75px;
    display: flex;
    align-items: center;

    img {
      height: 48px;
      margin-left: 15px;
    }
  }

  & .homeContainer {
    display: block;
    margin-top: 6%;
  }

  & .toggleBtn {
    position: absolute;
    top: -10000px;
    visibility: hidden;
  }

  @media screen and (max-width: 996px) {
    .homeContainer {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 420px) {
    .homeContainer {
      font-size: 8px;
    }
  }
}


.main.edit {
  & label.editModeBtn {
    background-color: $mainTaboolaBlue !important;

    &.btn {
      font-family: HelveticaNeueLTStd-Lt, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 1.2;
    }
  }
  & .widgetRow {
    > div {
      cursor: pointer;
    }

    border: 1px dashed #ccc;
  }
}


.checkboxSave{
  padding-top: 3rem;
  > label{
    padding: 10px;
    font-size: 1rem;
  }

  > input {
    width: 1rem;
    height: 1rem;
  }
}