label.editModeBtn{
  background-color: #4472c4 !important;
  &.btn{
    font-family: HelveticaNeueLTStd-Lt,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.2;
  }
}

.editModeBtnGr{
  width: 100%;
}