
.main.edit{
  & > div{
    padding: 10px;
    border: 1px dashed transparent;
    outline: none;
  }
  & .widgetRow>div{
    &:hover {
      box-shadow: 1px 1px 10px #333;
      border-radius: 6px;
    }
  }
}


.main .widgetRow> div{
    padding: 10px;
    border: 1px dashed transparent;
    outline: none;

  }

  .widgetBox h4{
    font-family: HelveticaNeueLTStd-Md,sans-serif;
    width: 100%;
    font-size: 1em;
    color: #333;
    line-height: 1.2;
    margin-bottom: 4px;
    margin-top: 8px;
    text-align: start;
    font-weight: bold;
  }




.widgetBox{
  & .provider {
    float: left;
    font-size: 0.8em;
    font-family: HelveticaNeueLTStd-Md, sans-serif;
    color: #888;
  }
  & .space {
    float: left;
    width: 10px;
    text-align: center;
    font-size: 0.8em;
    color: #888;
  }
  & .cat {
    float: left;
    font-size: 0.8em;
    color: #888;
  }
  & .img-bg {
    padding-top:50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}


.contentBank > * {
  & > .widgetBox {
    & .trash{
      float: right;
    }
    & .img-bg{
      height: 9em;
      &:hover{
        border: 2px solid;
      }
    }
  }
}


